.frame {
    width: 1190px;
    margin: 0 auto;
}
body {
    background-color: #f6f6f6;
}
.f10 {
    color: #f10215!important;
}
* {
    padding: 0;
    margin: 0;
}
input, button {
    border: 0;
    outline: none; /*取消轮廓边框*/
}
/*去除无序列表的点*/
ul {
    list-style: none;
}
/* 竖线 */
.vertical_line {
    width: 1px;
    height: 16px;
    background-color: #ccc;
    margin: 8px 12px 0;
}
/* 导航栏start */
.navigationbar {
    height: 32px;
    line-height: 32px;
    background-color: #e3e4e5;
    border: 1px solid #ddd;
    font-size: 12px;
    color: #999;
}
.navigationbar li {
    float: left;
}
.navigationbar i {
    font-family: 'icomoon';
    font-style: normal;
    color: #ccc;
}
.navigationbar a:hover {
    color: #e33333;
}
/* 导航栏end */
/* logo和搜索框部分 start */
.middle {
    height: 140px;
    position: relative;
}
/* logo start */
.logo {
    position: absolute;
    top: 10px;
}
.logo a {
    display: block;
    width: 120px;
    height: 120px;
    background: url(../images/logo1.png) no-repeat;
}
/* logo end */
/* 搜索框 start */
.search {
    width: 550px;
    height: 35px;
    position: absolute;
    top: 25px; 
    left: 320px;
}
.search input {
    width: 492px;
    height: 33px;
    border: 1px solid #e2231a;
    float: left;
    font-size: 14px;
    padding: 0 3px;
}
.search button {
    width: 50px;
    height: 35px;
    float: left;
    background-color: #e2231a;
}
.search i {
    font-family: 'icomoon';
    font-style: normal;
    color: #fff;
}
/* 搜索框 end */
/* logo和搜索框部分 end */
/* 购物车 start */
.shopcar {
    width:188px;
    height: 33px;
    line-height: 33px;
    border: 1px solid #ccc;
    position: absolute;
    top: 25px;
    right: 95px;
    text-align: center;
    color: #f10215;
}
.shopcar i {
    font-family: 'icomoon';
    margin-right: 5px;
    font-style: normal;
    color: #fff;
}
.shopcar span{
    width: 15px;
    height: 15px;
    background-color: #f10215;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 30px;
    font-size: 12px;
    color: #fff;
    line-height: 15px;
}
/* 购物车 end */
/* 浮动 */
.floatl {
    float: left;
}
.floatr {
    float: right;
}
/* a公共样式 */
a {
    text-decoration: none;
    font-size: 12px;
    color: #999;
}
/*清除浮动*/
.clearfix:after,
.clearfix:before {
    display: table;
    content: "";
}
.clearfix:after {
    clear: both;
}
.clearfix:before {
    *zoom: 1;
}