/* 仅用于主页的css */
/* 中间分类部分 start */
.grid {
    height: 480px;
}
.grid_left {
    width: 190px;
    height: 100%;
    background-color: #6e6568;
    color: #fff;
    font-size: 14px; /* 给/ */
}
.grid_left ul {
    padding: 15px 0px;
}
.grid_left ul li {
    padding-left: 12px;
    height: 28px;
    line-height: 28px;
}
.grid_left ul li:hover {
    background-color: #9c9698;
}
.grid_left a {
    color: #fff;
    font-size: 14px;
    margin: 0 3px;
}
.grid_left a:hover {
    color: #f10215;
}
.grid_middle {
    width: 790px;
    height: 100%;
    margin: 0 10px;
}
.grid_middle_b {
    margin: 10px 0;
}
.grid_right {
    width: 190px;
    height: 100%;
}
/* 中间分类部分 end */