.nav_logo {
    position: relative;
    width: 180px;
    margin: 10px 0;
    float: left;
}

.login_nav {
    height: 80px;
    background-color: #fff;
}

.nav_logo b {
    display: block;
    width: 110px;
    height: 40px;
    font-size: 24px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.login_middle {
    height: 425px;
    background-color: #e93854;
    position: relative;
}

.login_form {
    height: 405px;
    width: 346px;
    margin: 10px 0 20px;
    position: absolute;
    left: 40%;
    background-color: #fff;
    overflow: hidden;
}

.form_top {
    background-color: #fff8f0;
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
    text-align: center;
}

.form_info {
    display: inline-block;
    width: 90%;
}

.form_info p {
    display: inline-block;
    color: #999;
    font-size: 12px;
    font-family: Arial, Verdana, "宋体";
    font-style: normal;
}

.form_info i {
    color: #999;
    font-size: 12px;
}

.form_tab {
    height: 54px;
    width: 100%;
    border-bottom: 1px solid #f4f4f4;
    background-color: #fff;
    position: relative;
}

.form_tab a {
    width: 100%;
    height: 18px;
    position: absolute;
    left: 0;
    top: 18px;
    color: #666;
    font-size: 18px;
    font-family: "microsoft yahei";
    text-align: center;
}

.form_tab a:hover {
    color: #f10215;
    font-weight: 700;
}

.form_input {
    height: 192px;
    margin: 33px 20px;
    box-sizing: border-box;
}

.Account {
    height: 38px;
    border: 1px solid #bdbdbd;
    margin-bottom: 20px;
}

.Account .A_i {
    width: 38px;
    border-right: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
    background-color: #ccc;
    text-align: center;
    float: left;
}

.Account i {
    font-style: normal;
    font-size: 20px;
    line-height: 38px;
    text-align: center;
    color: #666;
}

.Account input {
    height: 38px;
    line-height: 38px;
    width: 254px;
    box-sizing: border-box;
    padding: 10px 0 10px 15px;
}

.forget {
    margin-bottom: 25px;
    width: 304px;
    text-align: right;

}

.btn {
    background-color: #f10215;
    height: 31px;
    width: 304px;
    text-align: center;
}

.btn a {
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 20px;
    line-height: 31px;
}

.form_bottom {
    height: 50px;
    border-top: 1px solid #bdbdbd;
    background-color: rgb(252, 252, 252);
    line-height: 50px;
}

.form_bottom a {
    color: #f10215;
    font-size: 14px;
    padding-right: 20px;
    float: right;
}