.nav_logo {
    position: relative;
    width: 180px;
    margin: 10px 0;
    float: left;
}

.login_nav {
    height: 80px;
    background-color: #fff;
    border-bottom: 2px;
}

.nav_logo b {
    display: block;
    width: 110px;
    height: 40px;
    font-size: 24px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.r_info {
    display: block;
    height: 21.33px;
    line-height: 21.33px;
    margin-top: 50px;
}

.r_info p {
    display: inline-block;

}

.r_info a {
    font-size: 16px;
}

.r_info a:hover {
    color: #f10215;
}

.r_middle {
    height: 580px;
    width: 100%;
    background-color: #e93854;
    display: flex;
}

.r_form {
    height: 550px;
    width: 450px;
    background-color: #fff;
    margin: 10px auto 20px;
}

.form_tab {
    height: 54px;
    width: 100%;
    border-bottom: 1px solid #f4f4f4;
    background-color: #fff;
    position: relative;
    text-align: center;
}

.form_tab h2 {
    line-height: 54px;
    color: #666;
    cursor: pointer;
}

.r_f ul li {
    height: 38px;
    text-align: left;
    width: 100%;
    padding: 10px 20px 30px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.r_f ul li:first-child {
    margin-top: 20px;
}

.r_f ul li:last-child input {
    height: 20px;
    width: 14px;
    line-height: 20px;
}

.r_f ul li:last-child span {
    padding-left: 5px;
}

.r_f b {
    float: left;
    font-size: 14px;
    line-height: 24px;
    padding-right: 10px;
    color: #f10215;
    box-sizing: border-box;
}

.r_f span {
    width: 80px;
    float: left;
    padding-right: 5px;
    white-space: nowrap;
}

.r_f li input {
    width: 300px;
    float: left;
    line-height: 24px;
}

.but {

    text-align: center;
}

.r_f input[type="button"] {
    background-color: #f10215;
    height: 31px;
    width: 304px;
}

.r_footer {
    height: 100px;
}