.nav_logo {
    position: relative;
    width: 180px;
    margin: 10px 0;
    float: left;
}

.shop_nav {
    height: 80px;
    background-color: #f6f6f6;
}

.nav_logo b {
    display: block;
    width: 110px;
    height: 40px;
    font-size: 24px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #666;
}

.search_logo span {
    line-height: 36px;
    font-size: 16px;
}

.search_ss {
    width: 550px;
    height: 35px;
    float: right;
    padding-top: 22.5px;
}

.search_ss input {
    width: 492px;
    height: 33px;
    border: 1px solid #e2231a;
    float: left;
    font-size: 14px;
    padding: 0 3px;
}

.search_ss button {
    width: 50px;
    height: 35px;
    float: left;
    background-color: #e2231a;
}

.search_ss i {
    color: #fff;
}

.shop_middle {
    height: 320px;
    padding: 20px 0;
    background-color: #f6f6f6;
    display: flex;
}

.shop_m_info {
    margin: auto;
}

.shop_car_text {
    font-size: 14px;

}

.shop_car_btn {
    padding: 2px 5px;
    box-sizing: border-box;
    background-color: #f10215;
}

.shop_car_a1 {
    font-size: 12px;
    line-height: 26px;
    text-align: center;

    color: #fff;
    margin-right: 10px;
}

.shop_car_a2 {
    color: #005ea7;
}

.shop_car_a2:hover {
    color: #f10215;
}